/********************** HERO SECTION COMPONENT navbar STYLING **************************/

nav {
  display: flex;
  max-width: 1500px;
  min-width: 1500px;
  padding: 25px 10px 40px 10px;
  margin-bottom: 25px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
 
}

nav::after {
 
  position: absolute;
  height: 3px; 
  bottom: 0;
  left: 0;
  width: 100%;
  
}

nav .navLinks {
  flex: 2;
}

nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navLinks .links {
  display: flex;
  gap: 30px;
}

nav .navLinks .links a {
  text-decoration: none;
  color: #000000; /* Softer color for the links */
  font-size: 22px; /* Larger font size for readability */
  font-weight: 400;
  letter-spacing: 1.6px;
}

nav .navLinks .links a:hover {
  color: #fff; 
  background-color: #007bff; 
  border-radius: 5px;
  padding: 8px 12px; 
  transform: scale(1.1); 
  letter-spacing: 2px;
}
nav .menuBtn {
  padding: 10px 25px;
  color: #000000;
  background-color: #00ffbb; /* Matching blue button color */
  border: none;
  border-radius: 25px; /* Rounded button edges */
  font-size: 16px;
  font-weight: 500;
 
}

nav .menuBtn:hover {
  color: #007bff; /* Blue text on hover */
  background-color: #fff; /* White background on hover */
  border: 1px solid #78d161; /* Blue border on hover */
   /* Slight scaling effect for the button */
  cursor: pointer;
}

nav .hamburger {
  display: none;
}

nav svg {
  font-size: 1.75rem;
}

@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}

@media (max-width: 1100px) {
  nav {
    z-index: 20;
    position: unset;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for mobile */
    padding: 10px 30px;
  }
  nav::after {
    content: "";
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    z-index: -1;
    transition: 0.3s ease;
  }
  nav .showmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    transition: 0.3s ease;
    margin: 0 15px;
    width: 96.7vw;
    margin-right: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  nav .showmenu .links {
    flex-direction: column;
    text-align: center;
  }
  nav .menuBtn {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}

@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
nav .logo {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-right: 20px;
}